DRONE_SERVER_HOST={your-domain}
DRONE_SERVER_PROTO=https
DRONE_RPC_HOST=drone-server
DRONE_RPC_PROTO=http
DRONE_RPC_SECRET={openssl rand -hex 16}
DRONE_GITHUB_CLIENT_ID=
DRONE_GITHUB_CLIENT_SECRET=
ADMIN= # your github username
DRONE_DATA=./drone # Volume mapping path